nav {
    min-height: 80px;
}

nav .nav-link,
.btn-all-tours {
    padding-top: 0.5rem;
    vertical-align: middle;
    color: var(--light-text-color);
}

nav .nav-link:hover {
    color: var(--secondary-accent);
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: background-color 0.3s ease-in-out;
}

.navbar-transparent {
    background-color: transparent !important;
}

.navbar-solid {
    background-color: var(--primary-color) !important;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.btn-all-tours {
    background-color: var(--primary-color);
    color: var(--text-accent);
    font-weight: bold;
    border: none;
    padding: 0.5rem 1rem;
    box-shadow: 0px 8px 15px rgba(106, 128, 185, 0.5);
    transition: all 0.3s ease-in-out;
    position: relative;
    /* clip-path: polygon(25% 0, 75% 5%, 100% 1%, 100% 100%, 0 100%, 0 4%); */
    clip-path: polygon(50% 10%, 75% 0, 100% 15%, 100% 85%, 70% 100%, 30% 100%, 0 85%, 0 15%, 25% 0);
}

.btn-all-tours:hover {
    background-color: var(--secondary-accent);
    box-shadow: 0px 15px 30px rgba(106, 128, 185, 0.75);
    transform: translateY(-5px);
}

.btn-all-tours::before {
    content: '';
    position: absolute;
    top: -5px;
    left: -5px;
    right: -5px;
    bottom: -5px;
    background: rgba(106, 128, 185, 0.3);
    /* Muted blue */
    z-index: -1;
    transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
    transform: scale(1.1);
    opacity: 0;
    clip-path: polygon(25% 0, 75% 5%, 100% 1%, 100% 100%, 0 100%, 0 4%);
}

.btn-all-tours:hover::before {
    opacity: 1;
    transform: scale(1.2);
}

.language-selector {
    background-color: rgba(255, 255, 255, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.2);
    color: var(--light-text-color);
    padding: 0.4rem 0.8rem;
    border-radius: 4px;
    transition: all 0.3s ease;
    margin-left: 10px;
}

.dropdown-menu {
    margin-left: 10px;
    min-width: inherit;
    margin-top: 8px;
    border-radius: 12px;
    background: var(--primary-color);
    overflow: hidden;
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.3);
}

.dropdown-menu a {
    color: var(--light-text-color) !important;
}

.dropdown-menu:hover {
    background-color: var(--primary-accent);
    cursor: pointer;
}

.dropdown-item:hover{
    background-color: var(--primary-accent);
}

/* Mobile Nav */
.navbar-toggler {
    border: none;
    background-color: var(--secondary-color);
    padding: 0.5rem;
    border-radius: 5px;
    transition: background-color 0.3s ease-in-out;
}

.navbar-toggler:hover {
    background-color: var(--secondary-accent);
}

.navbar-toggler-icon {
    width: 24px;
    height: 24px;
    background-image: url('data:image/svg+xml;charset=UTF8,%3Csvg xmlns="http://www.w3.org/2000/svg" fill="%23155E95" viewBox="0 0 30 30"%3E%3Cpath stroke="rgba(21, 94, 149, 1)" stroke-linecap="round" stroke-miterlimit="10" stroke-width="2" d="M4 7h22M4 15h22M4 23h22"/%3E%3C/svg%3E');
}

.navbar-toggler:hover .navbar-toggler-icon {
    background-image: url('data:image/svg+xml;charset=UTF8,%3Csvg xmlns="http://www.w3.org/2000/svg" fill="%23155E95" viewBox="0 0 30 30"%3E%3Cpath stroke="rgba(21, 94, 149, 0.8)" stroke-linecap="round" stroke-miterlimit="10" stroke-width="2" d="M4 7h22M4 15h22M4 23h22"/%3E%3C/svg%3E');
}

.overlay-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    color: white;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1050;
}

.overlay-menu.active {
    display: flex;
}

.close-overlay {
    position: absolute;
    top: 20px;
    right: 30px;
    font-size: 2rem;
    color: var(--text-accent);
    background: none;
    border: none;
    cursor: pointer;
}

.menu-links {
    list-style: none;
    padding: 0;
    margin-bottom: 0;
    text-align: center;
}

.menu-links li {
    margin: 10px 0;
}

.menu-links a {
    color: var(--text-accent);
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: bold;
}

.menu-links a:hover {
    color: var(--secondary-accent);
}

.social-buttons-header {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.social-buttons-header a {
    font-size: 1.5rem;
    color: var(--text-accent);
    transition: color 0.3s;
}

.social-buttons-header a:hover {
    color: var(--secondary-accent);
}

/* Mobile Language Selector */
#overlay-menu .lang-dropdown {
    margin-top: 24px;
    width: 90%;
    text-align: center;
}

#overlay-menu .language-selector {
    margin-left: 0px;
    margin-top: 10px;
    width: 100%;
    max-width: 400px;
    padding: 12px;
    font-size: 16px;
    color: var(--text-accent);
    background: rgba(255, 255, 255, 0.15);
    border: none;
    border-radius: 12px;
    text-align: center;
    cursor: pointer;
}

#overlay-menu .language-selector:hover,
#overlay-menu .language-selector:focus {
    background: rgba(255, 255, 255, 0.3);
    outline: 3px solid var(--secondary-accent);
}

#overlay-menu .dropdown-menu {
    background: var(--dark-background-color);
    overflow: hidden;
}

#overlay-menu .dropdown-item {
    color: var(--text-accent) !important;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

#overlay-menu .dropdown-menu:hover {
    background-color: var(--secondary-color);
    cursor: pointer;
}

#overlay-menu .dropdown-item:hover,
#overlay-menu .dropdown-item:focus {
    background-color: var(--secondary-color);
}

/* Disable mobile view on desktop */
@media (min-width: 992px) {
    .overlay-menu {
        display: none !important;
    }
}