<footer class="site-footer">
    <div class="footer-container">

        <div class="footer-newsletter">
            <h5 data-translate="newsletter-subscribe"></h5>
            <form id="newsletterForm">
                <input id="emailNewsletter" type="email" aria-label="Enter your email address" required />
                <button type="submit" data-translate="subscribe"></button>
            </form>
        </div>

        <div class="footer-navigation">
            <h5 data-translate="navigate"></h5>
            <ul>
                <li><button class="nav-link" id="footerGalleryButton" data-translate="nav.gallery"></button></li>
                <li><button class="nav-link" id="footerBlogButton" data-translate="nav.blog"></button></li>
                <li><button class="nav-link" id="footerContactButton" data-translate="nav.contact"></button></li>
                <li><button class="nav-link" id="footerToursButton" data-translate="nav.tours"></button></li>
            </ul>
        </div>

        <div class="footer-social-contact">
            <h5 data-translate="follow-us"></h5>
            <div class="social-links">
                <a href="https://www.instagram.com/onthewaveyachting/" 
                   aria-label="Instagram" 
                   target="_blank" 
                   rel="noopener noreferrer">
                    <i class="fab fa-instagram"></i>
                </a>
                <a href="https://t.me/+UJVC01DzEiStD15a" 
                   aria-label="Telegram" 
                   target="_blank" 
                   rel="noopener noreferrer">
                    <i class="fab fa-telegram"></i>
                </a>
            </div>
        </div>

        <div class="footer-social-contact">
            <h5 data-translate="need-help"></h5>
            <p>
                <i class="fas fa-phone-alt"></i>
                <a href="tel" aria-label="Call us">
                    <span data-translate="phone-one"></span>
                </a>
            </p>
            <p>
                <i class="fas fa-phone-alt"></i>
                <a href="tel" aria-label="Call us">
                    <span data-translate="phone-two"></span>
                </a>
            </p>
            <p>
                <i class="fas fa-envelope"></i>
                <a href="mailto" aria-label="Email us">
                    <span data-translate="email"></span>
                </a>
            </p>
        </div>
    </div>
    <hr>
    <div class="footer-bottom">
        <p>&copy; <span data-translate="year"></span> <span data-translate="rights-reserved"></span></p>
    </div>
</footer>