<section class="blog-header">
    <div id="header-image" class="header-image">
        <img src="/on-the-wave/resources/media/yacht/yacht_1.webp" alt="" role="presentation" class="img-fluid">
        <div class="header-image-overlay">
            <h1 class="text-center" id="page-title" data-translate="title"></h1>
            <p class="text-center" id="page-subtitle" data-translate="subtitle"></p>
        </div>
    </div>
</section>

<section class="blog-content">
    <div class="container" data-translate="content">

    </div>

    <hr class="my-5" />
    <h3 class="mb-4">Other Posts</h3>
    <div class="row row-cols-1 row-cols-md-3 g-4" id="other-posts">

    </div>
</section>