<section class="blog-header">
    <div id="headerImage" class="header-image">
        <img src="/on-the-wave/resources/media/yacht/yacht_1.webp" alt="" role="presentation" class="img-fluid">
        <div class="header-image-overlay">
            <h1 id="pageTitle" class="text-center" data-translate="title"></h1>
            <p id="pageSubtitle" class="text-center" data-translate="subtitle"></p>
        </div>
    </div>
</section>

<div id="alertContainer" class="container mt-4"></div>

<section class="blog-content">
    <div class="container" data-translate="content">

    </div>

    <hr class="my-5" />
    <h3 class="mb-4">Other Posts</h3>
    <div id="otherPosts" class="row row-cols-1 row-cols-md-3 g-4">

    </div>
</section>